body{
 
background-color:  rgba(1, 1, 1, 0.5)
}
nav{
  opacity: 1;
  transition: opacity 2s;
}

section {
  min-height:100vh;
}

#about-area{
  background-image: url("../images/abckeyboard.jpg");
  background-size: 100%;


  clip-path: polygon(0 0, 100% 20%, 100% 93%, 50% 100%, 0% 93%, 1% 20%);
  
}

@media only screen and (min-width: 768px){

  #about-area,  #info-area, #contact-area{
    font-size: 1.5rem;
  }
 
  }

@media only screen and (min-width: 992px){

  #about-area,  #info-area, #contact-area{
    font-size: 2rem;
  }

}

#info-area p{
  margin-top:25vh;
}


.portfolio-item{
 
  background: black;
  border: 5px solid black;
  margin: 0 auto;
  margin-bottom: 2vh;
}



#portfolio-area{
  padding-top: 5vh;
  background-color: rgba(0,0,0,0.7);

}

#contact-area a{
  color: white;
  transition: color 1s;
}

#contact-area a:hover{
  color: black;
  transition: color 1s;
}



.cover{
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
  height:100vh;

}

.cover .row{
  margin: 0 auto;
  margin-top: 25vh;
}

.info p a{
  color: black;
  text-decoration: none;
  
  transition: color 2s;
  }

.info p a:hover{
  color: white;
  
  transition: color 2s;
}





