

.label {
  margin-top: 1%;
}

.portfolio_images {
  position: relative;
  float: left;
  margin-bottom: 40px;
  margin-right: 30px;
  height: 200px;
  width: 200px;
}

.portfolio_images div {
  position: absolute;
  left: 1%;
  bottom: 10%;
  width: 100%;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #4aaaa5;
 
}

.portfolio_images img{
  height: auto;
  width: 100%;
}