html,
body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  height: 100%;
  background-image: url("C:/Users/Anu/Desktop/Projects/Portfolio/assets/images/gravel.png");
}

* {
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: solid #ccc;
  height: 15vh;
  width: 100%;
  background-color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

nav a {
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  padding: 0% 2% 0 2%;
  text-decoration: none;
}

nav a:hover {
  color: white;
  background: #4aaaa5;
}

header {
  font-family: Georgia, "Times New Roman", Times, serif;
}

#logo {
  color: white;
  float: left;
  height: 10vh;
  margin-left: 25%;
  padding: 5vh 5vh 0vh 5vh;
  font-size: 100%;
  text-emphasis: ;
  background-color: #4aaaa5;
}

#header-links {
  height: 10vh;
  padding-top: 5vh;
}

#mobile-header-links{
  display:none;
  height: 10vh;
  padding-top: 5vh;
}
.middle-nav-link {
  border-left: solid thin lightgray;
  border-right: solid thin lightgray;
}

#section {
  text-align: left;
  color: black;
  background: #fff;
  width: 50%;
  margin: 20vh 25% 15vh 25%;
  padding: 3%;
  flex: 1 0 auto;
}
p {
  margin-top: 3%;
}
#section header h2 {
  text-align: left;
  color: #4aaaa5;
  padding-bottom: 3%;
  border-bottom: solid lightgray;
}

#section section {
  margin-top: 10px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: gray;
}

.label {
  margin-top: 1%;
}

#submit {
  margin-top: 1%;
  color: white;
  float: left;
  width: fit-content;
  padding: 1% 3% 1% 3%;
  font-size: 24;
  background-color: #4aaaa5;
}

footer {
  display: flex;
  position:fixed;
  bottom:0;
  width: 100%;
  height: 10vh;
  justify-content: center;
  border-top: solid #4aaaa5;
  background-color: grey;
}
footer a {
  text-decoration: none;
  align-self: flex-end;
  color: white;
  margin: 1%;
  padding: 0% 3% 0% 3%;
}

footer a:hover {
  background-color: #4aaaa5;
}
img {
  float: left;
  width: auto;
  height: auto;
  margin: 1%;
}

#mobile-menu{
  display: none;
}

@media (min-width: 520px){
  #headerLinks{
    display: flex;
  }
}
@media (max-width: 520px) {
  #header-links {
    display: none;
   
  }
  #mobile-header-links{
    display: fixed;
    padding-left: 25%;
    top: 15vh;
    height: 10vh;
    width: 100%;
    padding-top: 5vh;
    background-color:lightgray;
  }

  #mobile-menu{
    position: fixed;
    top:0;
    right:0;
    width: 10vw;
    height: 15vh;
    float: right;
    display: block;
    background-color: gray;
    border-left:solid lightgray;
  }

  
  img {
    width: 100%;
    height: auto;
  }
}
